{
  "singleQuote": true,
  "trailingComma": "all",
  "sortingMethod": "lineLength",
  "plugins": ["prettier-plugin-sort-imports"],
  "importOrder": ["^(controller|service)/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
